<!doctype html>
<html lang="en">
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>GIFT CHARITY BOX </title>
	
	<!-- Styles -->
	<link rel='stylesheet' href='assets/stylesheets/application.scss'>

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
			
	<!-- Favicon -->
	<link rel="shortcut icon" href="#">
</head>
<section class="whitecolor parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/5.jpg);">
<div class="wrapsection">
	<div class="container">
	<div class="row">
		<div class="col-md-12 sol-sm-12">
			<div class="maintitle">
				<h3 class="section-title justtitle">Charity <span class="wow flipInX">&amp; love</span> are the same</h3>
				<p class="lead bottom0">
					 Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. Donec a purus tellus. Nunc ut dolor eu est gravida auctor quis vitae.
				</p>
			</div>
		</div>
	</div>
	</div>
</div>
</section>
<div>
    <body>
        <p></p>
        <h1 class="h3" align="center">ギフトについて</h1>
        <div align="center">
            <border>
                <paddings>
                Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. <br>
                Donec a purus tellus. Nunc ut doFusce fermentum lectus id turpis suscipit, <br>
                ut egestas magna volutpat. Donec a purus tellus. Nunc ut do                
                </paddings>
            </border>
        </div>
    </body>
</div>
<div>
    <body>
        <p></p>
        <h1 class="h3" align="center">ギフトについて</h1>
        <div align="center">
            <border>
                <paddings>
                Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. <br>
                Donec a purus tellus. Nunc ut doFusce fermentum lectus id turpis suscipit, <br>
                ut egestas magna volutpat. Donec a purus tellus. Nunc ut do                
                </paddings>
            </border>
        </div>
    </body>
</div>
<div>
    <body>
        <p></p>
        <h1 class="h3" align="center">ギフトについて</h1>
        <div align="center">
            <border>
                <paddings>
                Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. <br>
                Donec a purus tellus. Nunc ut doFusce fermentum lectus id turpis suscipit, <br>
                ut egestas magna volutpat. Donec a purus tellus. Nunc ut do                
                </paddings>
            </border>
        </div>
    </body>
</div>